/* Color Palette: https://colorhunt.co/palette/219727 */

/* Section 1 */

.navbar-brand {
	margin-left: 2%;
	font-weight: 500;
}

#section1 {
	background-color: #f2d974;
	padding: 5% 0%;
}

#headingText {
	margin: 0% 10% 5% 10%;
	font-weight: 900;
	text-align: center;
}

.download-button {
	margin: 0% auto 0% 20%;
	animation: jello;
	animation-duration: 1s;
	animation-delay: 0.75s;
}

.download-button:hover {
	background-color: #72abf7;
	animation: rubberBand;
	animation-duration: 0.5s;
}

/* Section 2 */

#section2 {
	background-color: #c7956d;
}

.section2RowDiv {
	text-align: center;
	margin: 0% 5% 0% 5%;
	padding: 5% 0%;
}

.section2RowDiv p {
	font-weight: 500;
}

.section2Text {
	display: inline-block;
	margin: 0% 10% 0% 10%;
}

/* Section 3 */
#howToUseHeading {
	text-align: center;
	color: #fff;
	font-weight: 600;
}

.carousel-inner {
	background-color: #965d62;
	padding-top: 3%;
	padding-bottom: 3%;
}

.carousel-caption {
	position: relative;
	left: 0;
	top: 0;
}

.img-fluid {
	width: auto;
	height: 50vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Section 4 */
#div4 {
	background-color: #534e52;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	color: #fff;
}

/* Footer */
footer {
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #c7956d;
	text-align: center;
}
