/* Color Palette: https://colorhunt.co/palette/219727 */

/* Navbar */

.navbar-brand {
	margin-left: 2%;
	font-weight: 500;
}

.navbar {
	padding-bottom: 0 0 4.5rem;
}

.navbar-nav {
	padding-right: 2%;
}

.navbar-toggler {
	margin-right: 2%;
}

.nav-item {
	padding: 0 18px;
	font-size: large;
	font-weight: 600;
}

/* Section 1 */

#section1 {
	background-color: #f2d974;
	padding: 5% 0%;
}

#headingText {
	margin: 0% 10% 5% 10%;
	font-weight: 900;
	text-align: center;
}

.download-button {
	margin: 0% auto 0% 15%;
	animation: jello;
	animation-duration: 1s;
	animation-delay: 0.75s;
}

.download-button:hover {
	background-color: #72abf7;
	animation: rubberBand;
	animation-duration: 0.5s;
}

/* Section 2 */

#section2 {
	background-color: #c7956d;
}

.section2RowDiv {
	text-align: center;
	margin: 0% 5% 0% 5%;
	padding: 5% 0%;
}

.section2RowDiv p {
	font-weight: 500;
}

.section2Text {
	display: inline-block;
	margin: 0% 10% 0% 10%;
}

.div2:hover {
	animation: pulse;
	animation-duration: 0.35s;
}

.div2 i {
	margin-bottom: 3%;
}

/* Section 3 */
#howToUseHeading {
	text-align: center;
	color: #fff;
	font-weight: 600;
}

.carousel-inner {
	background-color: #965d62;
	padding-top: 3%;
	padding-bottom: 3%;
}

.carousel-caption {
	position: relative;
	left: 0;
	top: 0;
}

.carousel-caption h5 {
	font-size: x-large;
}

.carousel-caption p {
	font-size: large;
}

.img-fluid {
	width: auto;
	height: 50vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Section 4 */
#div4 {
	background-color: #534e52;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	color: #fff;
	font-size: large;
	font-weight: 500;
}

/* Footer */
footer {
	padding-bottom: 1%;
	text-align: center;
	background-color: #000;
	color: oldlace;
}

/* Pricing */
.pricingText {
	text-align: center;
}

.pricingText h4 {
	animation: zoomInDown;
	animation-duration: 1.5s;
}

.pricingText h1 {
	margin-top: 5%;
	font-size: 400%;
	font-weight: 800;
}

.pricingText p {
	font-weight: 600;
	font-size: 150%;
}

.or {
	margin-top: 5%;
}
.download-button-pricing {
	margin: 0% auto 0% 15%;
}

.download-button-pricing:hover {
	background-color: #72abf7;
	animation: rubberBand;
	animation-duration: 0.5s;
}
